@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.full {
  background: linear-gradient(141deg, rgba(88,166,26,1) 6%, rgba(207,238,182,1) 23%, rgba(255,255,255,1) 37%, rgba(119,117,117,1) 68%, rgba(93,91,91,1) 76%, rgba(73,70,70,1) 84%, rgba(51,48,48,1) 92%);  
  display: grid;
  place-items: center;
  font-size: 5vh;
  width: 100%;
  height: 100vh;
}
.content {
  width: 100%;
  height: 100vh;
  margin-top: 2em;
  img {
    height: 200px;
    width: 550px;
    margin-top: 2em;
  }
}
.emmet video {
  width: 40%;
  height: 40%;
  margin-left: 6em;
  margin-top: 2em;
}
@media screen and(max-width:600px) {
  .content {
    margin-top: 2em;
    width: 100%;
    height: 100vh;
    img {
      width: 428px;
      height: 200px;
      transform: scale(1);
    }
  }
  .emmet video {
    margin-top: 2em;
    width: 100%;
    height: 40%;
    margin-left: 0;
  }
}
