:root {
  --clr-neon: #14f7ff;
  --clr-bg: #001414;
  --clr-wh: #f9f9f9;
  --font-size: 1.12rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
  height: 100%;
}

body {
  background: rgb(34, 32, 154);
  background: linear-gradient(
    118deg,
    rgba(34, 32, 154, 1) 18%,
    rgba(1, 4, 121, 1) 44%,
    rgba(47, 0, 140, 1) 75%
  );
  background-repeat: no-repeat;
}

.container {
  width: max-content;
  position: relative;
  left: 30%;
}
.container .info-box {
  width: max-content;
  height: max-content;
}

.container .info-box .info-text p {
  padding-left: 1.2em;
  line-height: 2em;
  color: var(--clr-wh);
}
.container .info-box .info-text h1 {
  text-align: center;
  color: var(--clr-wh);
}

/*button*/
button {
  border: 0;
  border-radius: 8px;
  padding: 20px 36px;
  background: #1a1a1a;
  color: var(--clr-wh);
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 45%;
}

@-webkit-keyframes background-in {
  0% {
    scale: 0 0.005;
  }
  33% {
    scale: 1 0.005;
  }
  66%,
  100% {
    scale: 1 1;
  }
}

@keyframes background-in {
  0% {
    scale: 0 0.005;
  }
  33% {
    scale: 1 0.005;
  }
  66%,
  100% {
    scale: 1 1;
  }
}
@-webkit-keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/*modal background*/
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1, 1);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

body.open .modal-background {
  opacity: 1;
  visibility: visible;
  -webkit-animation: background-in 1s both;
  animation: background-in 1s both;
}

body.open .container {
  opacity: 0;
  visibility: hidden;
}

/*modal button*/
.modal {
  position: fixed;
  top: 37%;
  left: 0%;
  translate: -50%, -50%;
  width: 360px;
  height: 180px;
  padding: 48px 50px;
  border-radius: 12px;
  background: #37353b;
  color: var(--clr-wh);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin-left: 10em;
}
.modal p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8em;
}
.link a {
  text-decoration: none;
  color: var(--clr-wh);
  font-size: 17px;
  padding-right: 0.2em;
  width: min-content;
}
.link a:hover {
  border-radius: 10px;
  border: 2px solid var(--clr-wh);
  box-shadow: inset 0 0 0.2em var(--clr-neon), 0 0 1.5em var(--clr-neon);
  padding: 0.35em 0.4em 0.35em 0.4em;
  transition: 1.4s;
  font-size: var(--font-size);
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.65px;
}
/*info modal*/
.info {
  position: fixed;
  top: 37%;
  left: 38%;
  translate: -50%, -50%;
  width: max-content;
  padding: 80px 40px;
  border-radius: 12px;
  background: #37353b;
  color: var(--clr-wh);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin-left: 10em;
}
.info p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}
body.open .info {
  opacity: 1;
  visibility: visible;
  -webkit-animation: modal-in 1.5s;
  animation: info-in 1.5s;
}
@keyframes info-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

body.open .modal {
  opacity: 1;
  visibility: visible;
  -webkit-animation: modal-in 1.5s;
  animation: modal-in 1.5s;
}

body.open button {
  visibility: hidden;
  transition: all 0.8s;
}

body.closed .modal-background {
  opacity: 0;
  visibility: hidden;
  translate: -50% -50%;
}
.info {
  position: fixed;
  top: 37%;
  left: 38%;
  translate: -50%, -50%;
  width: max-content;
  padding: 80px 40px;
  border-radius: 12px;
  background: #37353b;
  color: var(--clr-wh);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.info p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}
body.open .info {
  opacity: 1;
  visibility: visible;
  -webkit-animation: modal-in 1.5s;
  animation: info-in 1.5s;
}
@keyframes info-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    top: 37%;
    left: -37%;
    padding: 100px 40px;
    min-width: 100%;
  }
  .modal p {
    font-size: 1.7rem;
    margin: -1.5em 0 2em 0;
  }
  .modal a {
    font-size: 20px;
    margin-left: 1em;
  }
  button {
    left: 30%;
  }
  .container {
    left: 0;
    padding-top: 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .info{
  position: absolute;
  left: -10em;
  top: 60vh;
  max-width: 100%;
 }
}
