@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
}
.footer {
  font-family: 'Source Sans Pro', sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column;
  padding: 50px;
  color: #fff;
  background: #111;
  > * {
    flex: 1 100%;
  }
}
.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  h1 {
    font-weight: 900;
    font-size: 16px;
    background-color: #111;
    img {
      height: 100px;
      width: 100px;
    }
  }
  p {
    padding-right: 20%;
    color: #999;
  }
}
.footer ul {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 2em;
  }
  a {
    text-decoration: none;
    color: #999;
  }
}
.r-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
}
.box a {
  text-decoration: none;
}
.h-box {
  column-count: 1;
  column-gap: 1.25em;
}
.b-footer {
  display: grid;
  place-items: center;
  color: #999;
  padding-top: 50px;
}

/* Making the footer responsive for mobile. */
@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }
  .socials {
    flex-grow: 2;
  }
  .l-footer {
    flex: 1 0px;
  }
}
@media screen and (max-width: 767px) {
  .r-footer {
    display: grid;
    grid-template-columns: 8ch auto;
    gap: 3.5em;
    .box {
      a {
        font-size: 15px;
      }
      }
    }
  .footer .l-footer {
    p {
      text-align: justify;
      font-size: 20px;
      max-width: fit-content;
      margin-left: 3em;
      //outline: 2px solid red;
    }
  }
}
